@page
@model CheckedListBox.Pages.AboutModel
@{
}

<div class="container" >
    <p>This project is about setting <span class="fw-bold">aria-checked</span></p>  
    
</div>
<div class="d-flex justify-content-center card w-50 mx-auto">

    <div class="card-body">
        <h1 class="card-title fs-6">About</h1>
        <ul class="list-group">
            <li class="list-group-item  border-0">Basic usage of checkbox</li>
            <li class="list-group-item  border-0">setting <span class="fw-bold">aria-checked</span> using JavaScript</li>
        </ul>

        <a asp-page="/Index1" class="ms-3" id="main-content">home</a>
    </div>
</div>